---
import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} info='/about'>
  <p>CS Student</p>
  <p>就读于武汉大学雷军班，目前在研究人工智能+跨学科场景中的应用。</p>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>以下是一些我正在使用的工具：</p>
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Chrome',
        description: 'Broswer',
        href: 'https://www.google.com/chrome/',
        icon: import('@/assets/tools/chrome.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      },
      {
        name: 'Goodnotes',
        description: 'Handwriting Note',
        href: 'https://www.goodnotes.com/',
        icon: import('@/assets/tools/goodnotes.svg?raw')
      },
      {
        name: 'Tailscale',
        description: 'VPN',
        href: 'https://tailscale.com/',
        icon: import('@/assets/tools/tailscale.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Illustrator',
        description: 'Vector Drawing',
        href: 'https://www.adobe.com/products/illustrator',
        icon: import('@/assets/tools/illustrator.svg?raw')
      },
      {
        name: 'Premiere Pro',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Xcode',
        description: 'IDE',
        href: 'https://developer.apple.com/xcode/',
        icon: import('@/assets/tools/xcode.svg?raw')
      },
      {
        name: 'Warp',
        description: 'Terminal',
        href: 'https://www.warp.dev/',
        icon: import('@/assets/tools/warp.svg?raw')
      }
      // {
      //   name: 'Termius',
      //   description: 'Modern SSH Client',
      //   href: 'https://www.termius.com/',
      //   icon: import('@/assets/icons/termius.svg?raw')
      // },
      // {
      //   name: 'Orbstack',
      //   description: 'Docker Desktop alternative',
      //   href: 'https://orbstack.dev/',
      //   icon: import('@/assets/tools/orbstack.svg?raw')
      // }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'MacOS Sequoia 15.3.2',
        description: "MacBook Air 13' M3",
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Intel i7-12700K + NVIDIA RTX 4060',
        href: 'https://www.microsoft.com/windows',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  />

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>AFOed <strong>OIer</strong></li>
    <li><strong>极限飞盘</strong> 运动</li>
  </ul>

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/tonyyin0418',
        text: 'followers',
        api: 'github/tonyyin0418'
      },
      {
        platform: 'Bilibili',
        icon: 'bilibili',
        color: '#e71f19',
        link: 'https://space.bilibili.com/416571720',
        text: 'followers',
        api: 'bilibili/416571720'
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/id/tonyyin0418',
        text: 'games',
        api: 'steamgames/76561199384294460'
      }
    ]}
  />

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2024-02-05',
        content: '完成数据迁移和基础配置</a>'
      },
      {
        date: '2025-02-04',
        content: '迁移到 astro'
      },
      {
        date: '2020-12-16',
        content: '在 wordpress 平台搭建此网站'
      }
    ]}
  />
  <p>本站基于以下项目/服务提供商的资源和技术支持：</p>
  <ul>
    <li>域名: <a href='https://www.aliyun.com/' target='_blank'>Alicoud</a></li>
    <li>
      框架 & 主题: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      网站托管: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      集成/交付: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <!-- <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
    <li>评论系统: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      粉丝数统计: <a href='https://github.com/spencerwooo/substats' target='_blank'>Substats</a>
    </li>
  </ul>

  <Comment slot='bottom' />
</PageLayout>
