---
import { Image } from 'astro:assets'

import type { iconsType } from 'astro-pure/types'
import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'
import config from '@/site-config'

const headings = [
  // { depth: 2, slug: 'theme', text: 'Theme' },
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' },
  // { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/tonyyin0418'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>如果你认为我的工作很有用或有趣，您可以捐赠以支持我的工作，或联系我讨论项目。</p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'A Simple Web Server',
        description: '基于C++ Socket的简易服务器，2024_Fall程序设计大作业',
        links: [{ type: 'github', href: 'https://github.com/TonyYin0418/SimpleWebServer' }]
      },
      {
        name: 'CSAPP Cheat Sheet',
        description: '计算机系统基础课程的速查表，用于期末考试',
        links: [
          { type: 'github', href: 'https://github.com/TonyYin0418/csapp-cheat-sheet' },
          {
            type: 'doc',
            href: 'https://raw.githubusercontent.com/TonyYin0418/csapp-cheat-sheet/main/pdf/final.pdf'
          }
        ]
      }
    ]}
  />

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: '计算机系统基础 WHU-2025春季学期',
        description: '计算机系统基础课程的笔记与代码',
        links: [
          {
            type: 'github',
            href: 'https://github.com/TonyYin0418/Introduction-to-Computer-System-2025Spring'
          }
        ]
      },
      {
        name: '概率论与数理统计 WHU-2025春季学期',
        description: '概率论与数理统计课程的笔记、真题与作业',
        links: [
          {
            type: 'github',
            href: 'https://github.com/TonyYin0418/Probability-Theory-and-Statistics-2025Spring'
          }
        ]
      },
      {
        name: '数据结构 WHU-2025春季学期',
        description: '数据结构课程的部分作业',
        links: [
          { type: 'github', href: 'https://github.com/TonyYin0418/Data-Structure-2025SPRING' }
        ]
      }
    ]}
  />

  <h2 id='others'>Private</h2>
  <ProjectSection
    projects={[
      {
        name: 'Nand2Tetris 软件系统实践 WHU-2025第三学期',
        description: '软件系统实践课程的笔记、代码与资料',
        links: [{ type: 'github', href: 'https://github.com/TonyYin0418/Nand2Tetris-2025Spring' }]
      }
    ]}
  />

  <!-- sponsorship -->
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>Please leave a message or contact me proactively after sponsorship.</p>
  <div class='flex flex-col justify-center gap-4 sm:flex-row'>
    {
      [
        { name: 'WeChat', icon: 'wechat-pay', image: wechat },
        { name: 'Alipay', icon: 'alipay', image: alipay }
      ].map((item) => (
        <div class='group relative justify-center overflow-hidden rounded-xl border bg-white'>
          <div class='absolute bottom-0 end-0 start-0 top-0 flex items-center justify-center transition-opacity group-hover:opacity-0'>
            <Icon class='size-20' name={item.icon as iconsType} />
          </div>
          <Image
            class='mx-auto my-0 max-w-60 opacity-30 blur-sm transition-opacity group-hover:opacity-100 group-hover:blur-none'
            src={item.image}
            alt={item.name}
            loading='lazy'
          />
        </div>
      ))
    }
  </div>
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
