---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  // { depth: 2, slug: 'theme', text: 'Theme' },
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' }
  // { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
  // { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} view>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/tonyyin0418'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      // {
      //   name: 'ðŸ“’ Notie',
      //   description:
      //     'Android note App complies with Material You specifications, developed using Java',
      //   links: [
      //     { type: 'github', href: 'https://github.com/cworld1/notie' },
      //     {
      //       type: 'release',
      //       href: 'https://github.com/cworld1/notie/releases'
      //     }
      //   ]
      // },
      // {
      //   name: 'ðŸ’„ PKU Art',
      //   description: 'A script to beautify pku course website',
      //   links: [
      //     { type: 'github', href: 'https://github.com/zhuozhiyongde/pku-art' },
      //     { type: 'site', href: 'https://github.com/zhuozhiyongde/pku-art' },
      //     { type: 'doc', href: 'https://docs.arthals.ink/docs/pku-art' }
      //   ]
      // }
      {
        name: 'A Simple Web Server',
        description: 'åŸºäºŽC++ Socketçš„ç®€æ˜“æœåŠ¡å™¨ï¼Œ2024_Fallç¨‹åºè®¾è®¡å¤§ä½œä¸š',
        links: [{ type: 'github', href: 'https://github.com/TonyYin0418/SimpleWebServer' }]
      },
      {
        name: 'CSAPP Cheat Sheet',
        description: 'è®¡ç®—æœºç³»ç»ŸåŸºç¡€è¯¾ç¨‹çš„é€ŸæŸ¥è¡¨ï¼Œç”¨äºŽæœŸæœ«è€ƒè¯•',
        links: [
          { type: 'github', href: 'https://github.com/TonyYin0418/csapp-cheat-sheet' },
          {
            type: 'doc',
            href: 'https://raw.githubusercontent.com/TonyYin0418/csapp-cheat-sheet/main/pdf/final.pdf'
          }
        ]
      }
    ]}
  />
  <!-- <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        {
          name: 'Search Switcher',
          description: 'Add links to each other in search engines',
          links: [{ type: 'github', href: 'https://github.com/cworld1/search-switcher' }]
        },
        {
          name: 'Pure Baidu',
          description: 'Baidu search page beautification module',
          links: [
            { type: 'doc', href: 'https://cworld0.com/blog/pure-baidu' },
            { type: 'site', href: 'https://userstyles.org/styles/173673/pure' }
          ]
        }
      ]}
    />
  </Collapse> -->

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'è®¡ç®—æœºç³»ç»ŸåŸºç¡€ WHU-2025æ˜¥å­£å­¦æœŸ',
        description: 'è®¡ç®—æœºç³»ç»ŸåŸºç¡€è¯¾ç¨‹çš„ç¬”è®°ä¸Žä»£ç ',
        links: [
          {
            type: 'github',
            href: 'https://github.com/TonyYin0418/Introduction-to-Computer-System-2025Spring'
          }
        ]
      },
      {
        name: 'æ¦‚çŽ‡è®ºä¸Žæ•°ç†ç»Ÿè®¡ WHU-2025æ˜¥å­£å­¦æœŸ',
        description: 'æ¦‚çŽ‡è®ºä¸Žæ•°ç†ç»Ÿè®¡è¯¾ç¨‹çš„ç¬”è®°ã€çœŸé¢˜ä¸Žä½œä¸š',
        links: [
          {
            type: 'github',
            href: 'https://github.com/TonyYin0418/Probability-Theory-and-Statistics-2025Spring'
          }
        ]
      },
      {
        name: 'æ•°æ®ç»“æž„ WHU-2025æ˜¥å­£å­¦æœŸ',
        description: 'æ•°æ®ç»“æž„è¯¾ç¨‹çš„éƒ¨åˆ†ä½œä¸š',
        links: [
          { type: 'github', href: 'https://github.com/TonyYin0418/Data-Structure-2025SPRING' }
        ]
      }
    ]}
  />

  <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
      {
        name: 'Nand2Tetris è½¯ä»¶ç³»ç»Ÿå®žè·µ WHU-2025ç¬¬ä¸‰å­¦æœŸ',
        description: 'è½¯ä»¶ç³»ç»Ÿå®žè·µè¯¾ç¨‹çš„ç¬”è®°ã€ä»£ç ä¸Žèµ„æ–™',
        links: [{ type: 'github', href: 'https://github.com/TonyYin0418/Nand2Tetris-2025Spring' }]
      }
    ]}
  />

  <!-- gpg signature -->
  <!-- <h2 id='gpg-signature'>GPG Signature</h2>
  <p>
    You can verify the authenticity of the files I signed by checking the GPG signature. My GPG key
    is <code>114514</code>, and you can find it on the opengpg key servers or download from it.
  </p>
  <Button href='https://keys.openpgp.org/search?q=114514' title='Checkout my key' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button> -->

  <!-- sponsorship -->
  <!-- <h2 id='sponsorship'>Sponsorship</h2>
  <p>Please leave a message or contact me proactively after sponsorship.</p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <p>Thanks to the following sponsors:</p>
  <Sponsors
    sponsors={[
      { name: 'C*aï¼ˆé…·å®‰@æš´èµ°ã®èœ—ç‰›ï¼‰', amount: '2.00', date: '2019-07-02' },
      { name: 'åŽé›„(QQï¼š1300****71)', amount: '5.00', date: '2019-12-30' },
      { name: 'â—Œ(QQï¼š1934****45)', amount: '3.00', date: '2019-12-30' },
      { name: 'Anonymous', amount: '20.00', date: '2022-04-06' }
    ]}
  /> -->
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
